# Node.js dependencies
/node_modules/
/package-lock.json
/website/node_modules/
/website/package-lock.json
/website/recipes/recipes/*.fixed.json
/meals-gemini-api/lambda_code/node_modules/
/meals-gemini-api/lambda_code/package-lock.json
/meals-gemini-api/terraform/lambda_deployment_package.zip
/meals-gemini-api/terraform/.terraform/
/meals-gemini-api/terraform/*.tfstate*
